.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*   background-color: #10181f;
 */
  height: 2727px;

  width: 100%;
}

* {
  box-sizing: border-box;
}

/* screen - charts */

.charts {
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #10181f;
  display: flex;
  height: 2727px;
  overflow: hidden;
  width: 1440px;
}

.highlights-container {
  display: flex;
}
.highlight2 {
  position: absolute;
  width: 1440px;
  height: 860.28px;
  left: 0px;
  top: -40px;

  background-image: url("../public/Highlight\ 2.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}
.highlight {
  position: absolute;
  width: 1048.66px;
  height: 1048.66px;
  left: -616.85px;
  top: -435.08px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #406395 0%,
    rgba(43, 74, 119, 0.35) 51.65%,
    rgba(5, 8, 16, 0) 100%
  );
  opacity: 0.9;
}
